$main-color: #08BF5B;
$sub-color: #000;
$main-bg-color: #F4F4F4;
$component-bg-color: #fff;
$pink-swan: #b4b4b4;
$table-back: #1ebd92;
$border-line-section-color: #e5e5e5;
$text-sub-color: #fff;

$section-spacing: 3em;
$mobile-section-spacing: 1em;
$space-small: 6px;
$space-medium: 12px;
$space-large: 18px;
$radius-small: 6px;
$main-button-height: 46px;
$main-button-border-radius: 25px;


$price-font-size: 30px;
$price-mobile-font-size: 16px;
