$main-color: #08BF5B;
$sub-color: #000;
$component-bg-color: #fff;
$pink-swan: #b4b4b4;
$section-spacing: 3em;
$mobile-section-spacing: 1em;
$space-small: 6px;
$space-medium: 12px;
$space-large: 18px;
$radius-small: 6px;
$price-font-size: 30px;
$price-mobile-font-size: 16px;
