@import '@/assets/responsive.scss';
@import '@/assets/variable.scss';

.Cart {
  position: fixed;
  top: 114px;
  width: inherit;

  @include mobile {
    margin: 1em;
  }

  &__container {
    margin: 0 $section-spacing;
    border-radius: $radius-small;
    background-color: $component-bg-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    width: 100%;

    > div {
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      width: 32%;
      padding: $space-small;

      &:first-child {
        width: 4%;
      }
    }
  }

  &__thead {
    // color: $text-sub-color;
    // background-color: $table-back;
    font-style: italic;
    border-bottom: 1px solid $border-line-section-color;
  }

  &__quantity {
    display: flex;
    justify-content: center;
    align-items: center;

    & > span {
      padding: 0 $space-small;
    }
  }

  &__breakdown {
    flex-direction: column;
    // color: $text-sub-color;
    // background-color: $table-back;
    font-style: italic;
    border-top: 1px solid $border-line-section-color;

    > div {
      width: 100%;
    //   justify-content: space-between;
    }
  }

  &__footer {
    background-color: $main-color;
    color: $text-sub-color;
    height: $main-button-height;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 $space-small $space-small;
  }
}
