@import '@/assets/responsive.scss';
@import '@/assets/variable.scss';

.PaymentView {
  padding-top: 20px;

  &__container {
    margin: 0 auto;
    width: 300px;
    border: 1px solid $border-line-section-color;
    border-radius: $radius-small;
  }

  &__back {
    position: absolute;
    top: 78px;
    left: 24px;
    cursor: pointer;

    > img {
      height: 30px;

      @include mobile {
        height: 18px;
      }
    }
  }
}
