@import '@/assets/responsive.scss';
@import '@/assets/variable.scss';

.ProductList {
  display: flex;
  flex-direction: column;
  margin: $section-spacing;
  background-color: $component-bg-color;
  border-radius: $radius-small;

  @include mobile {
    margin: 1em;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: $space-medium;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: $space-medium;
    flex-wrap: wrap;

    @include mobile {
      padding: $space-small;
    }
  }
}
