@import '@/assets/responsive.scss';
@import '@/assets/variable.scss';

.ProductListItem {
  display: flex;
  min-width: 320px;
  border-bottom: 1px solid $sub-color;
  padding: $space-medium;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid $main-color;
    color: $main-color;
  }

  @include mobile {
    min-width: auto;
  }

  &__thumb {
    display: flex;
    padding: 0 $space-large;

    & > img {
      width: 132px;
    }

    @include mobile {
      padding: 0;
      & > img {
        width: 60px;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include mobile {
      flex-grow: 1;
      width: fit-content;
    }
  }

  &__title {
    text-align: left;

    @include mobile {
      flex-grow: 1;
      margin: 0 $space-medium;
    }
  }

  &__price {
    font-size: $price-font-size;

    @include mobile {
      font-size: $price-mobile-font-size;
      font-weight: bold;
    }
  }
}
